<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/Model/Main.js"></script>
    <script src="/Model/Encryptor.js"></script>
    <script src="/Model/Decryptor.js"></script>
    <title>Magic encrypter</title>
</head>
<body>
    <input type="text" id="text_to_convert">
    <button onclick="encrypt(document.getElementById('text_to_convert').value)">Encrypt</button>
    <button onclick="decrypt(document.getElementById('text_to_convert').value)">Decrypt</button>
</body>
</html>